* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: hsl(0, 0%, 10%);
}

body {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100%;
    max-width: 60rem;
    min-width: 20rem;
    margin: 0 auto;
    overflow: hidden;
}

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.randomize {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.randomize p {
    margin-right: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

button {
    width: 8rem;
    height: 2.25rem;
    margin-right: 1rem;
    background: #fff;
    border-radius: 0;
    border: none;
    border: 2px solid var(--black);
    font-family: inherit;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background: var(--black);
    color: #fff;
}

button.save {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    background: var(--black);
    color: #fff;
}

button.save:hover {
    background: #fff;
    color: var(--black);
}

.saving-disabled {
    font-size: .875rem;
    margin-top: 2rem;
    font-weight: 500;
    display: none;
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    body {
        padding: .75rem;
    }

    button {
        width: 6rem;
        height: 2rem;
        font-size: .875rem;
        margin-top: .75rem;
    }

    button.save {
        width: 100%;
        margin-top: 1.25rem;
    }

    .randomize p {
        font-size: .875rem;
        margin-right: .5rem;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    button {
        margin-right: .5rem;
    }

    button.save {
        display: none;
    }

    .saving-disabled {
        width: 100%;
        display: block;
    }
}
