:root {
    --color-main-100: #0e2439;
    --color-main-200: #182e43;
    --color-main-300: #1f364d;
    --color-main-400: #274059;
    --color-main-500: #2b455e;
    --color-main-600: #354f69;
    --color-main-700: #63809c;
    --color-main-800: #9cb3c9;
    --color-main-900: #b6cce2;
    --color-accent-white: #ffffff;
    --color-accent-cyan: #4799eb;
    --color-accent-red: #e6375a;
}

::selection {
    background-color: var(--color-main-600);
    color: var(--color-accent-white);
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.35em;
    color: #37474f;
    background: var(--color-main-100);
    color: var(--color-main-800);
    cursor: default;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-accent-white);
}

a:hover {
    color: var(--color-accent-white);
    text-decoration: underline;
}

nav > div,
main > div {
    margin: 4em auto;
    max-width: 50rem;
}

nav {
    font-size: 1.15em;
}

nav ol {
    padding: 0;
    list-style: none;
}

nav ol li {
    margin: 1em 0;
}

nav ol li a {
    color: var(--color-main-900);
}

nav ol time {
    font-weight: 300;
    font-size: .65em;
    color: var(--color-main-600);
}

nav a time:before {
    content: '';
    display: block;
}

nav a:hover {
    text-decoration: none;
}

main {
    font-family: Georgia, serif;
    line-height: 1.5;
}

main h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-accent-white);
}

main h2 {
    font-size: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-accent-white);
}

main > p:first-of-type::first-line {
    font-variant: small-caps;
}

main a {
}

main blockquote {
    font-style: italic;
}

body {
    overflow: hidden;
}

body.transition.article {
    transition: 350ms ease;
}

body.transition {
    transition: 250ms ease;
}

body > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 200vw;
    overflow: scroll;
}

body > div > * {
    width: 100vw;
    align-self: flex-start;
}

main {
    margin: 0 auto;
    height: 100vh;
    overflow: scroll;
    position: relative;
}

body.article {
    transform: translateX(-100vw)
}

nav {
    box-sizing: border-box;
    padding: 4em 0;
    height: 100vh;
    overflow: scroll;
}

button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-main-400);
    position: fixed;
    left: 100vw;
    top: 0;
    width: calc((100vw - 50rem) / 2 - 5rem);
    height: 100vh;
    cursor: pointer;
    transition: 400ms ease;
}

button svg {
    width: 5em;
}

button:hover {
    background: var(--color-main-200);
    color: var(--color-accent-white);
    transition: 250ms ease;
}

main strong {
    font-weight: 600;
    color:var(--color-main-900);
}

abbr {
    cursor: help;
}

h1 {
    line-height: 1.15;
}

main header {
    text-align: center;
    margin: 2em 0;
}
main header h1 {
}

main header time {
    display: block;
    color: var(--color-main-700);
}
