:root {
    --padding: 5rem;
    --width: 50rem;

    --color-main-100: #0e2439;
    --color-main-200: #182e43;
    --color-main-300: #1f364d;
    --color-main-400: #274059;
    --color-main-500: #2b455e;
    --color-main-600: #354f69;
    --color-main-700: #63809c;
    --color-main-800: #9cb3c9;
    --color-main-900: #b6cce2;
    --color-accent-white: #ffffff;
    --color-accent-cyan: #4799eb;
    --color-accent-red: #e6375a;
}

::selection {
    background-color: var(--color-main-600);
    color: var(--color-accent-white);
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
    background: var(--color-main-100);
    color: var(--color-main-800);
    overflow: hidden;
    cursor: default;
}

body.transition.article {
    transition: 350ms ease;
}

body.transition {
    transition: 250ms ease;
}

body.article {
    transform: translateX(-100vw);
}

a {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-accent-white);
}

a:hover {
    text-decoration: underline;
}

abbr {
    cursor: help;
}

body > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 200vw;
    overflow: scroll;
}

body > div > * {
    width: 100vw;
    align-self: flex-start;
}

nav > div,
main article {
    margin: var(--padding) auto;
    max-width: var(--width);
}

nav {
    box-sizing: border-box;
    font-size: 1.15em;
    padding: var(--padding) 0;
    height: 100vh;
    overflow: scroll;
}

nav ol {
    padding: 0;
    list-style: none;
}

nav ol li {
    margin: 1em 0;
}

nav ol li a {
    color: var(--color-main-900);
    transition: 350ms ease;
}

nav ol li a:hover {
    color: var(--color-accent-white);
    text-decoration: none;
    transition: 250ms ease;
}

nav ol time {
    font-size: .65em;
    font-weight: 300;
    color: var(--color-main-600);
}

nav a time:before {
    content: '';
    display: block;
}

main {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    overflow: scroll;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 1.75;
}

main > button {
    position: fixed;
    top: 0;
    left: 100vw;
    width: calc((100vw - var(--width)) / 2 - var(--padding));
    height: 100vh;
    border: none;
    outline: none;
    transition: 400ms ease;
    background: transparent;
    color: var(--color-main-400);
    cursor: pointer;
}

main > button:hover {
    background: var(--color-main-200);
    color: var(--color-accent-white);
    transition: 250ms ease;
}

main > button svg {
    width: 5em;
}

main header {
    margin: 2em 0;
    text-align: center;
}

main header time {
    font-size: .75em;
    display: block;
    color: var(--color-main-700);
}

main h1,
main h2 {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-accent-white);
    line-height: 1.15;
}

main h2 {
    font-size: 1.25em;
}

main blockquote {
    margin: 0;
    font-style: italic;
}

main strong {
    font-weight: 700;
    color:var(--color-main-900);
}
