@keyframes appearFromTop {
    0% {
        opacity: 0;
        transform: translateY(-4em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --padding: 5rem;
    --width: 50rem;
    --line-height: 1.75;

    --color-main-100: #0e2439;
    --color-main-200: #182e43;
    --color-main-300: #1f364d;
    --color-main-400: #274059;
    --color-main-500: #2b455e;
    --color-main-600: #354f69;
    --color-main-700: #63809c;
    --color-main-800: #9cb3c9;
    --color-main-900: #b6cce2;
    --color-accent-white: #ffffff;
    --color-accent-cyan: #4799eb;
    --color-accent-red: #e6375a;
}

::selection {
    background-color: var(--color-main-600);
    color: var(--color-accent-white);
}

a {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-accent-white);
}

a:hover {
    text-decoration: underline;
}

figure {
    text-align: center;
    margin: 1em 0;
}

figure figcaption {
    font-size: .85em;
}

abbr {
    cursor: help;
}

summary {
    cursor: pointer;
    outline: none;
}

h1, h2 {
    margin: 0;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 200vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: var(--line-height);
    background: var(--color-main-100);
    color: var(--color-main-800);
    overflow: hidden;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.transition.article {
    transition: 350ms ease;
}

body.transition {
    transition: 250ms ease;
}

body.article {
    transform: translateX(-100vw);
}

body > * {
    width: 100vw;
    align-self: flex-start;
}

body > header > *,
main article {
    max-width: var(--width);
    margin: 0 auto;
    padding: var(--padding);
}

body > header {
    height: 100vh;
    overflow: scroll;
}

body > header section {
    font-family: 'Merriweather', serif;
}

body > header section summary {
    transition: 350ms ease;
}

body > header section summary:hover {
    color: var(--color-accent-white);
    transition: 250ms ease;
}

body > header section h1 {
    font-size: 1.75em;
    margin-bottom: .25em;
    color: var(--color-accent-white);
}

body > header nav {
    font-size: 1.25em;
    padding-top: 0;
}

body > header nav ol {
    padding: 0;
    list-style: none;
}

body > header nav ol li {
    margin: 1em 0;
    line-height: 1.15;
    animation: appearFromTop 150ms calc(30ms * var(--order)) backwards;
}

body > header nav ol li a {
    color: var(--color-main-900);
    transition: 350ms ease;
}

body > header nav ol li a:visited {
    color: var(--color-main-700);
}

body > header nav ol li a:hover {
    color: var(--color-accent-white);
    text-decoration: none;
    transition: 250ms ease;
}

body > header nav ol time {
    font-size: .65em;
    font-weight: 300;
    color: var(--color-main-700);
}

body > header nav ol time:before {
    content: '';
    display: block;
}

main {
    position: relative;
    height: 100vh;
    overflow: scroll;
    font-family: 'Merriweather', serif;
}

main > button {
    position: fixed;
    top: 0;
    left: 100vw;
    width: calc((100vw - var(--width)) / 2 - var(--padding));
    height: 100vh;
    border: none;
    outline: none;
    transition: 400ms ease;
    background: transparent;
    color: var(--color-main-400);
    cursor: pointer;
}

main > button:hover {
    background: var(--color-main-200);
    color: var(--color-accent-white);
    transition: 250ms ease;
}

main > button svg {
    width: 50%;
}

main header {
    text-align: center;
}

main header time {
    display: block;
    font-size: .85em;
    margin: 1rem 0 3rem 0;
    color: var(--color-main-700);
}

main h1,
main h2 {
    line-height: 1.15;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-accent-white);
}

main h2 {
    font-size: 1.25em;
    margin-top: 2em;
}

main blockquote {
    --padding: 3em;
    position: relative;
    margin: 0;
    padding-left: var(--padding);
    font-style: italic;
}

main blockquote:before {
    content: '”';
    position: absolute;
    top: .15em;
    left: 0;
    width: var(--padding);
    font-size: 3em;
    line-height: 1;
}

main strong {
    font-weight: 700;
    color:var(--color-main-900);
}

main img {
    max-width: 100%;
}

/**
 * Este valor (75rem) viene de:
 * var(--width) + 2 * (var(--padding) + 7.5rem)
 *
 * Donde 7.5rem es el ancho mínimo que asignamos a `button`
 * antes de que desaparezca del lateral y se sitúe arriba.
 */
@media (max-width: 75rem) {
    :root {
        --padding: 1em;
    }

    main > button {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5em;
    }

    main > button > svg {
        height: 75%;
    }
}

@media (max-width: 50rem) {
    body {
        font-size: 1em;
    }
}
