RewriteEngine on

Header set Cache-Control "no-cache"

RewriteCond %{HTTP_USER_AGENT} (twitterbot|facebookexternalhit|linkedinbot|slackbot|discordbot) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /posters/index.php [NC,L,QSA]

RedirectMatch ^/feed/?$ /index.json

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}/posts%{REQUEST_URI}/index.html -f [OR]
RewriteCond %{DOCUMENT_ROOT}/pages%{REQUEST_URI}/index.html -f
RewriteRule ^(.*)$ /index.html [NC,L,QSA]

ErrorDocument 404 /index.html
